html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤 바 숨김 */
    background-color: #171717;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* 화면의 최소 높이 */
    padding: 20px; /* 여백 추가 */
}

.text-group {
    margin-bottom: 50px; /* 텍스트 그룹 사이의 여유 공간 */
}

.opa {
    opacity: 0;
    transform: translateY(-20px); /* 초기 위치를 위로 이동 */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.opa.visible {
    opacity: 1;
    transform: translateY(0); /* 최종 위치 */
}

.content-wrapper {
    padding: 20px;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transform: scale(1.2);
    animation: fadeInScale 1s ease-in-out forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    font-size: 4vw;
    margin: 20px 0;
}

h2 {
    font-size: 3vw;
    margin: 30px 0;
}

h3 {
    font-size: 2vw;
    margin: 10px 0;
    color: rgb(196, 196, 196);
}

.do-hyeon-regular {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
}

/* 스크롤 바 스타일 */
::-webkit-scrollbar {
    width: 12px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.modal-content {
    color: #333; /* 모달 내 텍스트 색상 */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #dddddd;
}



/* 기본 푸터 스타일링 */
.site-footer {
    background-color: #171717; /* 배경색 설정 */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 푸터 안의 콘텐츠 스타일링 */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 푸터 로고 스타일링 */
.footer-logo img {
    width: 80px; /* 로고 크기 조정 */
    height: auto;
    margin-bottom: 10px;
}

/* 푸터 내비게이션 스타일링 */
.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* 푸터 텍스트 스타일링 */
.footer-info h1 {
    font-size: 2em;
    margin: 10px 0;
}

.footer-info p {
    margin: 5px 0;
    font-size: 1em;
}
